canvas {
    border: 1px solid black;

}

#suggestions{
    width: 100%;
    margin:0 -5px;
}

#suggestions img{
    margin:4px 5px;
    width: 60px;
    height: 60px;


    border: 1px solid black;
}

#canvasContainer{
    width: 60%;
    height: 50%;
    position:relative;
    margin-bottom:5px;

}

#canvasContainer canvas{
    position: absolute;
    top:0;
    left:0;

}

#canvas{
    z-index: 99999;
}
#canvas2{
    z-index: -99999;
}

#buttons {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 50px;
}

#buttons input {
    float: left;
    width: 100%;
    margin: 0 0 2px 0;
    padding: 8px;
    font-size: 15px;
    color: #16A0E8;
    background-color: Transparent;
    border: none;
    font-weight : bold;
}